.highlight {
  position: relative;
}

.highlight pre {
  padding-right: 75px;
}

.highlight-copy-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: 0.7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  min-width: 80px;
  text-align: center;
}

.highlight-copy-btn:hover {
  background-color: #666;
}
