<footer>
<div class="footer-content">
{{if (or (isset .Site.Params "mail") (isset .Site.Params "phone") ) }}
  <div class="contact-info">
      {{with .Site.Params.mail}}
          <div class="footer-mail">
          <i class="far fa-envelope"></i> <a href="mailto:{{.}}">{{.}}</a> </div>
      {{end}}
      {{with .Site.Params.phone}}
      <div class="footer-phone">
          <i class="fas fa-phone"></i> {{.}} 
      </div>
      {{end}}
  </div>
{{end}}
{{with .Site.Copyright}}
<p class="copyright meta">{{.}}</p>
{{end}}
</div>
<!-- MathJax -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_SVG"></script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
            showMathMenu: false, //disables context menu
            tex2jax: {
            inlineMath: [ ['$','$'], ['\\(','\\)'] ]
           }
    });
</script>
</footer>
